
:global(li) {
    margin-bottom: 0.1em;
}

:global(.container) {
  width: 100%;
}

.navbar {
  background-color:#fafafa;
  padding: 0;
  margin: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.contentMargin {
  margin-left: 1em;
  margin-right: 1em;
}