
:global(li) {
    margin-bottom: 0.1em;
}

:global(.container) {
  width: 100%;
}

.app {
  width: 80%;
  margin: auto;
}

/* Mobile screens */
@media all and (max-width: 500px) {
  .app{
    width: 100%;
  }
}


.flexContainer {
  display: flex;
  flex-flow: row wrap;
}

.navbar {
  background-color:#fafafa;
  padding: 0;
  margin: 0;
  width: 100%;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  z-index: 2;
}

.contentPadding {
  width: 100%;
  margin-top: 1em;
  margin-bottom: 3em;
  margin-left: 1em;
  margin-right: 1em;
}
