
ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-transform: uppercase;
    background-color:#fafafa;
}

div.dropdownDivider {
    height: 1px;
    background-color: #e5e5e5;
}

div.text {

}

li.nav {
    float: left;
}

li.nav a, .dropbtn {
    display: inline-block;
    color: #222;
    text-align: left;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration:none;
    min-width:80px;
    user-select: none;
}

@media only screen and (min-device-width: 768px)
{
  li.nav a:hover, .dropdown:hover .dropbtn {
    background-color: #f4f4f4;
  }
}

li.dropdown {
    display: inline-block;
}

.dropdownContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

div.dropdownContent a, div.text {
    color: #222;
    padding: 12px 16px;
    text-decoration: none;
    text-transform: none;
    display: block;
    text-align: left;
}

div.dropdownContent a:hover {
    background-color: #e1e1e1;
}

.dropdown:hover .dropdownContent {
    display: block;
}
