p {
    margin-bottom: 0.2em;
}

li {
    margin-bottom: 0.1em;
}

.top {
    background-color: #DEF;
}

ul.todos {
    list-style-type: none;
}
small.date {
    font-size: 0.7em;
    color:#444;
}

li.completed {
    text-decoration: line-through;
    color: #AAA;
}
