<html>
  <head>
    <meta charset="utf-8">
    <title>React/redux/snap Todo list</title>
    <!-- No favicon -->
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div id="app" />
  </body>
</html>
